<div>
  <div class="upload-block">
    <div class="upload-block__top-gif">
      <img src="assets/giphy.gif">
    </div>
    <div class="upload-block__upload">
      <label id="#bb"> Upload your gif!
        <input #file type="file" accept="image/gif" (change)="preview(file.files)" />
      </label>
      <div class="upload-block__result-prev">
        <img [src]="imgURL" *ngIf="imgURL">
      </div>
      <div class="message" *ngIf="message">
        {{message}}
      </div>
    </div>
  </div>
</div>
