h2{
  color: #F54785;
}
i{
  outline: none;
  cursor: pointer;
  color: #191A1A;
}
.header-block{
  .header-block__close {
    float: right;
  }
}
.gif-img{
  padding: 10px;
  max-height: 99%;
  max-width: 99%;
  img {
    max-width: 500px;
    max-height: 500px;

  }
}
a{
  color: #F54785;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1366px) {
  .gif-img{
    img {
      max-width: 500px;
      max-height: 500px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1366px) {
  .gif-img{
    img {
      max-width: 350px;
      max-height: 350px;

    }
  }

}
@media (min-width: 540px) and (max-width: 992px) {
  .gif-img{
    img {
      max-width: 300px;
      max-height: 300px;

    }
  }

}
@media (max-width: 540px) {
  .gif-img{
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}
