h3 {
  color: #F54785;
}
.gifs-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  .gifs-block__gifs {
    //margin: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    .gifs-block__gifs__one-gif {
      align-items: flex-start;
      height: 250px;
      margin: 5px 0 5px 0;
      cursor: pointer;
      outline: none;
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
    .fav {
      cursor: pointer;
      outline: none;
      z-index: 999;
      position: absolute;
      margin-top: -30px;
      i {
        color: white;
        opacity: 0.6;
      }

    }
    .activated {
      i {
        color: #F54785 !important;
        opacity: 1;
      }
    }
  }
}
.btn-block{
  text-align: center;
  button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    margin: 50px 30px;
    background: #F54785;
    outline: none;
  }
}
