<div>
  <h3 *ngIf="!favGifs && !myGifCollection">There are no gifs here... You can add them from trendings or upload yourself</h3>
  <div *ngIf="myGifs">
    <h3>My collection</h3>
    <div class="gifs-block">
      <div *ngFor="let gif of myGifs;" class="gifs-block__gifs">
        <div class="gifs-block__gifs__one-gif">
          <div class="img-gif">
            <a (click)="openDialog(gif)">
              <img [src]="gif.images.fixed_width.webp">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="favGifs">
    <h3>Favorite gifs</h3>
    <div class="gifs-block">
      <div *ngFor="let gif of favGifs;" class="gifs-block__gifs">
        <div class="gifs-block__gifs__one-gif">
          <div class="img-gif">
            <a (click)="openDialog(gif)">
              <img [src]="gif.images.fixed_width.webp">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
