<nav>
  <ul>
    <li>
      <a  routerLinkActive="activated" [routerLink]="'/all-gifs'">
        <i class="material-icons">collections</i>
      </a>
    </li>
    <li>
      <a  routerLinkActive="activated" [routerLink]="'/search'">
        <i class="material-icons">search</i>
      </a>
    </li>
    <li>
      <a  routerLinkActive="activated" [routerLink]="'/favorites'">
        <i class="material-icons">favorite</i>
      </a>
    </li>
    <li>
      <a  routerLinkActive="activated" [routerLink]="'/my-collection'">
        <i class="material-icons">library_add</i>
      </a>
    </li>
    <li>
      <a (click)="logout()">
        <i class="material-icons">logout</i>
      </a>
    </li>

  </ul>
</nav>
