<div class="search-block">
  <div class="search-block__input-wrapper empty">
    <label>
      <input #searchBox  placeholder="Search gifs" class="query" [(ngModel)]="text"/>
    </label>
  </div>

</div>
<div class="message" *ngIf="message">
  {{message}}
</div>
<div class="custom-scroll" *ngIf="allSearchGifs">
  <span *ngIf="!allSearchGifs.length" class="message">there are no result for this query...</span>
  <h3 *ngIf="allSearchGifs.length">Result</h3>
  <div class="gifs-block" infiniteScroll
       [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <div *ngFor="let gif of allSearchGifs " class="gifs-block__gifs">
      <div class="gifs-block__gifs__one-gif">
        <div class="action-block">
          <a (click)="openDialog(gif)">
            <img [src]="gif.images.fixed_width.webp" style="position: relative; z-index: 1;">
          </a>
          <div class="fav" *ngIf="gif" (click)="addToFav(gif)" [ngClass]="{'activated' : gif.active}">
            <i class="material-icons">favorite</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

